body {
	background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #a9e8f1), to(#e6c8ac));
	/*background-image: -webkit-gradient(radial, right top, left bottom, color-stop(0.1, #a9e8f1), to(#e6c8ac));*/
}

.ui-container {
	height: 100%;
	display: block;
}

.user-input {
	text-align: center;
	padding-left: 0px !important;
}

.ui-border-b {
	border-bottom-color: #cccccc;
}

.ui-icon-down:before {
	content: "\e628";
	position: absolute;
	top: 0;
	right: 7px;
}

.logined-user {
	background-color:white;
	border-bottom: 1px solid #cccccc;
	position: relative;
}

.ui-form-item-lg {
	height: 62px !important;
	line-height: 62px;
	font-family: "Microsoft YaHei";
	font-size: 20px;
}

.submit-button {
	width: 98%;
	color: white;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #00acee), to(#00acee));
}

.not-width-center {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	text-align: center;
}

.avatar {
	width: 110px;
	height: 110px;
}

.ui-form .cleaner {
	visibility: hidden;
}

.ui-form .focused .cleaner {
	visibility: visible;
}

/*dropdown*/
ul.dropdown                         	{ position: relative; }
ul.dropdown ul 					{ width: 100%; visibility: hidden; position: absolute; top: 101%; left: 0;}
ul.dropdown .hover > ul 			{ visibility: visible; opacity:0;}